@page
@{
  ViewData["Title"] = "Home page";
}

<div class="jumbotron">
  <h2 class="bg-info indexheader text-white"><img src='/img/icon.svg' height='90px' /> .NET Core Demo App</h2>

  <p style="font-size: 110%">
    This is a .NET Core web app using Razor pages and API controllers. It has been designed with cloud
    demos & containers in mind, and for ease of deployment into Azure or Kubernetes. <br><br> A simple app to use anytime you want 
    something lightweight to run & deploy 😄
  </p>
  Core features:
  <ul style="font-size: 90%">
    <li>System status / information view</li>
    <li>App Insights support</li>
    <li>weather info (from Open weather API)</li>
    <li>Stock Monitor</li>
  </ul>

  <p>
    <img src='img/octocat.png' width='58px' /> &nbsp;
    <a target='_blank' href='https://github.com/vaidykraman/dotnet-demoapp' class="btn btn-info btn-lg">Project on Github</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </p>

  <hr/>
</div>

